body{
	margin-left:40px;
	background-image: url('2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-right:40px;
}
h1{
	text-align:center;
	font-family:Giveny,Georgia,Maiah,serif;
	letter-spacing:5px;
	font-variant:small-caps;
	font-style:italic;
	color:#daa520;
	text-shadow:2px 1px 3px gray;
}
h1:hover{
	text-decoration:blink;
	color:#483d8b;
}
span>a{
	font-family:Arial,Verdana;
	background-color:#8b0000;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-size:small;
	margin-left:20px;
	border-radius:30px;
}
span>a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
	color:black;
}
div>p,ol{
	margin-left:100px;
	margin-right:100px;
	text-align:justify;
	font-family:Arial;
	font-size:large;
	line-height:40px;
	color:#8b0000;
}
img{
	height:200px;
	width:400px;
	float:left;
	margin-left:80px;
	margin-right:50px;
	border-radius:50px;
	border-style:inset;
	border-color:#483d8b;
	border-width:5px;
}
h5{
	font-style:italic;
	color:#483d8b;
	font-family:Arial, Tahoma;
}
ol.list{
	list-style-image:url(https://cdn.7tv.app/emote/60aec2196cfcffe15f4e4f93/1x.webp);
	margin-left:150px;
	margin-right:160px;
	border-color:#d8bfd8;
}
img:hover{
	border-style:outset;
	border-color:#daa520;
	border-width:8px;
}
p a{
	font-family:Arial,Verdana;
	font-stretch:expanded;
	background-color:#b0e0e6;
	color:black;
	padding:1em 1em;
	text-decoration:none;
	font-size:medium;
	border-radius:50px;
	margin-left:40px;
}
p a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#d8bfd8;
}
