body{
	margin-left:40px;
	background-image: url('2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-right:40px;
}
h1{
	text-align:center;
	font-family:Giveny,Georgia,Maiah,serif;
	letter-spacing:5px;
	font-variant:small-caps;
	font-style:italic;
	color:#daa520;
	text-shadow:2px 1px 3px gray;
}
h1:hover{
	text-decoration:blink;
	color:#483d8b;
}
span>a{
	font-family:Arial,Verdana;
	background-color:#8b0000;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-size:small;
	margin-left:20px;
	border-radius:30px;
}
span>a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
	color:black;
}