body{
	background-color:#fffacd;
	font-family:Verdana,'sans serif';
	color:#483d8b;
	margin:40px;
}
h1{
	text-align:center;
	font-family:Giveny,Georgia,Maiah,serif;
	letter-spacing:5px;
	font-variant:small-caps;
	font-style:italic;
	color:#daa520;
	text-shadow:2px 1px 3px lightgray;
}
h6>a{
	font-family:Arial,Verdana;
	background-color:#8b0000;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-size:small;
	margin-left:20px;
}
h6>a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
	color:black;
}
img.main{
	margin:70px;
	margin-left:500px;
	height:300px;
	width:300px;
	border-radius:200px;
	float:center;
	border-style:ridge;
	border-width:5px;
}
a.a{
	font-family:Arial,Verdana;
	font-variant:small-caps;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
}
a:link{
	text-decoration:none;

}
a.b{
	font-family:Arial,Verdana;
	font-variant:small-caps;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
}
a.c{
	font-family:Arial,Verdana;
	font-variant:small-caps;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
}
img:hover{
	box-shadow:20px 20px 30px 10px pink inset;
	border-style:dashed;
	border-color:#483d8b;
	border-width:thick;
}
ol.a {
  list-style-type: upper-alpha;
  font-variant:small-caps;
  float:right;
  margin-right:80px;
  font-weight:bold;
}
ol.b{
	list-style-image:url(https://cdn.7tv.app/emote/603cac391cd55c0014d989be/1x.webp);
	vertical-align:middle;
}
p{
	font-variant:normal;
	color:#800000;
	font-size:small;
	text-transform:capitalize;
	font-style:italic;
}
p a{
	font-family:Arial,Verdana;
	font-stretch:expanded;
	background-color:#b0e0e6;
	color:black;
	padding:1em 1em;
	text-decoration:none;
	font-size:small;
}
p a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
}
a.beat{
	background-color:transparent;
}
a.beat:hover{
	background-color:transparent;
}
img.r{
	border-radius:90px;
	width:200px;
	height:190px;
	margin-left:150px
}
img.r:hover{
	filter:grayscale(90%);
}
img.hh:hover{
	filter:grayscale(90%);
}
img.in:hover{
	filter:grayscale(90%);
}
img.hh{
	border-radius:90px;
	float:center;
	width:200px;
	height:190px;
}
img.in{
	border-radius:90px;
	width:200px;
	height:190px;
}
h2{
	text-align:center;
	text-transform:uppercase;
	letter-spacing:16px;
	background-color:#d8bfd8;
}
.genre>a:active{
	color:black;
	text-decoration:overline underline;
}
figure.sza{
	float:left;
	margin-right:30px;
}
figure.frank{
	float:right;
	margin-left:30px;
}
figure.drake{
	float:left;
	margin-right:30px;
}
figure.ty{
	float:right;
	margin-left:30px;
}
figure.kendrick{
	float:left;
	margin-right:30px;
}
figure.amine{
	float:right;
	margin-left:30px;
}
figure.mac{
	float:left;
	margin-right:30px;
}
figure.tvg{
	float:right;
	margin-left:30px;
}
figure.lana{
	float:left;
	margin-right:30px;
}
figure.the1975{
	float:right;
	margin-left:30px;
}
figure>img:hover{
	border:8px ridge #d8bfd8;
	filter:grayscale(50%);
}
figcaption{
	font-weight:bold;
	padding-top:.25em;
	margin-bottom:1em;
	border-bottom:2px solid darkred;
	border-left:2px solid darkred;
	border-right:2px solid darkred;
	text-align:center;
}
audio{
	margin-left:80px;
	border:3px dashed darkred;
}
article>p{
	font-family:Montserrat, Arial,'sans serif';
	font-size:large;
	font-style:normal;
	text-transform:none;
	text-align:justify;
}
