body{
	margin-left:40px;
	background-image: url('2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1{
	text-align:center;
	font-family:Giveny,Georgia,Maiah,serif;
	letter-spacing:5px;
	font-variant:small-caps;
	font-style:italic;
	color:#daa520;
	text-shadow:2px 1px 3px lightgray;
}
h1:hover{
	text-decoration:blink;
	color:#800000;
}
span>a{
	font-family:Arial,Verdana;
	background-color:#8b0000;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-size:small;
	margin-left:20px;
	border-radius:30px;
}
span.mainf>a{
	font-family:Arial,Verdana;
	background-color:#8b0000;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-size:small;
	margin-left:20px;
}
span>a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
	color:black;
}
.mainf>a{
	font-family:Arial,Verdana;
	background-color:#8b0000;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-size:small;
	margin-left:20px;
	float:right;
	margin-right:40px;
}
.mainf>a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
	color:black;
}
h6>a{
	font-family:Arial,Verdana;
	background-color:#8b0000;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-size:small;
	margin-left:20px;
}
h6>a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
	color:black;
}
img.main{
	margin:70px;
	margin-left:500px;
	height:300px;
	width:300px;
	border-radius:200px;
	float:center;
	border-style:ridge;
	border-width:5px;
}
img.main:hover{
	filter:grayscale(30%);
}
a.a{
	font-family:Arial,Verdana;
	font-variant:small-caps;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
}
a:link{
	text-decoration:none;

}
a.b{
	font-family:Arial,Verdana;
	font-variant:small-caps;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
}
a.c{
	font-family:Arial,Verdana;
	font-variant:small-caps;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
}
img:hover{
	box-shadow:20px 20px 30px 10px pink inset;
	border-style:dashed;
	border-color:#483d8b;
	border-width:thick;
}
p{
	font-variant:normal;
	color:#800000;
	font-size:small;
	text-transform:capitalize;
	font-style:italic;
}
p a{
	font-family:Arial,Verdana;
	font-style:normal;
	background-color:#b0e0e6;
	color:black;
	padding:1em 1em;
	text-decoration:none;
	font-size:small;
	border-radius:20px;
}
p a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
}
a.beat{
	background-color:transparent;
}
a.beat:hover{
	background-color:transparent;
}
img.r{
	border-radius:90px;
	width:200px;
	height:190px;
	margin-left:150px;
	border-style:outset;
	border-color:#483d8b;
	border-width:5px;
}
img.r:hover{
	filter:grayscale(90%);
}
img.hh:hover{
	filter:grayscale(90%);
}
img.in:hover{
	filter:grayscale(90%);
}
img.hh{
	border-radius:90px;
	float:center;
	width:200px;
	height:190px;
	margin-left:180px;
	border-style:outset;
	border-color:#483d8b;
	border-width:5px;
}
img.in{
	border-radius:90px;
	width:200px;
	height:190px;
	margin-left:180px;
	border-style:outset;
	border-color:#483d8b;
	border-width:5px;
}
h2{
	text-align:center;
	font-family:Garamond, serif;
	text-transform:uppercase;
	letter-spacing:3px;
	background-color:#d8bfd8;
	border-radius:80px;
	text-shadow:4px 2px 5px white;
	margin-left:300px;
	margin-right:300px;
}
h2:hover{
	text-decoration:blink;
	background-color:#b0e0e6;
}
.genre>a:active{
	color:black;
	text-decoration:overline underline;
}
figure>img{
	border-radius:20px;
}
figure.sza{
	float:left;
	margin-right:30px;
}
figure.frank{
	float:right;
	margin-left:30px;
}
figure.drake{
	float:left;
	margin-right:30px;
}
figure.ty{
	float:right;
	margin-left:30px;
}
figure.kendrick{
	float:left;
	margin-right:30px;
}
figure.amine{
	float:right;
	margin-left:30px;
}
figure.mac{
	float:left;
	margin-right:30px;
}
figure.tvg{
	float:right;
	margin-left:30px;
}
figure.lana{
	float:left;
	margin-right:30px;
}
figure.the1975{
	float:right;
	margin-left:30px;
}
figure>img:hover{
	border:8px ridge #d8bfd8;
	filter:grayscale(50%);
}
audio{
	margin-left:80px;
	border:2px dashed darkred;
	border-radius:30px;
}
article>p{
	font-family:Montserrat, Arial,'sans serif';
	font-size:large;
	font-style:normal;
	text-transform:none;
	text-align:justify;
	margin-right:60px;
	margin-left:40px;
}
article{
	overflow:auto;
	border-radius:40px;
	border-style:double;
	border-width:3px;
	margin-left:80px;
	margin-right:80px;
	border-color:#483d8b;
	line-height:30px;
}
