body{
	font-family:'Laro Soft', Verdana, 'Trebuchet MS',sans-serif;	
	text-align:center;
	color:#2a2c41;
	font-size:larger;
	background-image:url('1.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin:50px;
}
h1{
	font-family:Giveny,Georgia,Maiah,serif;
	text-align:center;
	color:#800000;
	font-variant:small-caps;
	font-size:xx-large;
	font-weight:bold;
	text-shadow:4px 1px 3px #fff0f5;
	font-style:italic;
	font-stretch:wider;
}
h1:hover{
	background-color:#fff0f5;
}
/*DIV A LINKS*/
div.a{
	background-color:#d8bfd8;
	box-shadow: 3px 5px 0 darkred;
	color:white;
	padding:1em 1.5em;
	position:relative;
	text-decoration:none;
	font-variant:small-caps;
	float:left;
	border-radius:40px;
	font-size:medium;
}
div.a a:hover{
	background-color:#fffacd;
	text-decoration:none;
	font-weight:bold;
}
div.a a:link{
	text-decoration:none;
	
}
/*DIV B LINKS*/
div.b{
	background-color:#d8bfd8;
	box-shadow: 3px 5px 0 darkred;
	padding:1em 1.5em;
	text-decoration:none;
	font-variant:small-caps;
	float:right;
	border-radius:40px;
	font-size:medium;
}
div.b a:hover{
	background-color:#fffacd;
	text-decoration:none;
	font-weight:bold;
}
div.b a:link{
	text-decoration:none;
}
/*DIV C LINKS*/
div.c{
	background-color:#d8bfd8;
	box-shadow: 3px 5px 0 darkred;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-variant:small-caps;
	float:left;
	border-radius:40px;
	font-size:medium;
}
div.c a:hover{
	background-color:#fffacd;
	text-decoration:none;
	font-weight:bold;
}
div.c a:link{
	text-decoration:none;
}
/*DIV D LINKS*/
div.d{
	background-color:#d8bfd8;
	box-shadow: 3px 5px 0 darkred;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-variant:small-caps;
	float:right;
	border-radius:40px;
	font-size:medium;
}
div.d a:hover{
	background-color:#fffacd;
	text-decoration:none;
	font-weight:bold;
}
div.d a:link{
	text-decoration:none;
}
video{
	width:680px;
	height:450px;
	border-radius:30px;
	border-style:double;
	border-width:thick;
	border-color:#8b4513;
	float:center;
}
h6{
	font-style:italic;
	color:#832323;
}
