body{
	font-family:'Laro Soft', Verdana, 'Trebuchet MS',sans-serif;	
	text-align:center;
	color:#2a2c41;
	font-size:larger;
	background-image:url('1.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1{
	font-family:Giveny,Georgia,Maiah,serif;
	text-align:center;
	color:#800000;
	font-variant:small-caps;
	font-size:xx-large;
	font-weight:bold;
}
h1:hover{
	background-color:#fff0f5;
}
/*DIV A LINKS*/
div.a{
	background-color:#d8bfd8;
	box-shadow: 3px 5px 0 darkred;
	color:white;
	padding:1em 1.5em;
	position:relative;
	text-decoration:none;
	text-transform:small-caps;
	float:left;
	margin-left:50px;
	border-radius:40px;
}
div.a a:hover{
	background-color:#f0fff0;
	text-decoration:none;
	font-weight:bold;
}
div.a a:visited{
	
}
div.a a:link{
	text-decoration:none;
	
}
/*DIV B LINKS*/
div.b{
	background-color:#d8bfd8;
	box-shadow: 3px 5px 0 darkred;
	padding:1em 1.5em;
	position:relative;
	text-decoration:none;
	text-transform:small-caps;
	margin-right:50px;
	float:right;
	border-radius:40px;
}
div.b a:hover{
	background-color:#f0fff0;
	text-decoration:none;
	font-weight:bold;
}
div.b a:link{
	text-decoration:none;
	color:#800000;
	
}
/*DIV C LINKS*/
div.c{
	background-color:#d8bfd8;
	box-shadow: 3px 5px 0 darkred;
	color:white;
	padding:1em 1.5em;
	position:relative;
	text-decoration:none;
	text-transform:small-caps;
	float:left;
	margin-left:50px;
	border-radius:40px;
}
div.c a:hover{
	background-color:#f0fff0;
	text-decoration:none;
	font-weight:bold;
}
div.c a:link{
	text-decoration:none;
	color:#800000;
	
}
/*DIV D LINKS*/
div.d{
	background-color:#d8bfd8;
	box-shadow: 3px 5px 0 darkred;
	color:white;
	padding:1em 1.5em;
	position:relative;
	text-decoration:none;
	text-transform:small-caps;
	float:right;
	margin-right:20px;
	border-radius:20px;
}
div.d a:hover{
	background-color:#f0fff0;
	text-decoration:none;
	font-weight:bold;
}
div.d a:link{
	text-decoration:none;
	color:#800000;
	
}
video{
	width:680px;
	height:500px;
	border-radius:30px;
	border-style:double;
	border-width:thick;
	border-color:#8b4513;
	float:center;
}
h6{
	font-style:italic;
	color:#832323;
}
