body{
	background-image: url('2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1{
	text-align:center;
	font-family:Giveny,Georgia,Maiah,serif;
	letter-spacing:5px;
	font-variant:small-caps;
	font-style:italic;
	color:#a52a2a;
	text-shadow:2px 1px 3px lightgray;
}
h1:hover{
	text-decoration:blink;
	color:#483d8b;
}
img{
	height:300px;
	width:300px;
	border-radius:20px;
}
h5>a{
	font-family:Arial,Verdana;
	background-color:#8b0000;
	color:white;
	padding:1em 1.5em;
	text-decoration:none;
	font-size:small;
	margin-left:40px;
}
h5>a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
	color:black;
}
div.one{
	margin:50px;
}
p a{
	font-family:Arial,Verdana;
	font-stretch:expanded;
	background-color:#b0e0e6;
	color:black;
	padding:1em 1em;
	text-decoration:none;
	font-size:small;
	border-radius:20px;
	margin-left:40px;
}
p a:hover{
	text-decoration:blink;
	font-weight:bold;
	background-color:#ffd700;
}
img:hover{
	border-style:ridge;
	border-width:5px;
	border-color:#dda0dd;
}
img.a{
	height:250px;
	width:200px;
	margin-left:100px;
	margin-right:20px;
	margin-bottom:20px;
}
img.b{
	height:250px;
	width:300px;
	margin-bottom:20px;
}
img.c{
	height:250px;
	width:200px;
	margin-left:20px;
	margin-bottom:20px;
}
img.d{
	height:250px;
	width:200px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
}
img.e{
	height:250px;
	width:200px;
	margin-left:80px;
	margin-right:20px;
	margin-bottom:20px;
}
img.f{
	height:250px;
	width:250px;
	margin-bottom:20px;
}
img.g{
	height:250px;
	width:250px;
	margin-left:20px;
	margin-bottom:20px;
}
img.h{
	height:250px;
	width:250px;
	margin-left:20px;
	margin-bottom:20px;
}
img.i{
	height:250px;
	width:300px;
	margin-bottom:20px;
	margin-left:180px;
}
img.j{
	height:250px;
	width:250px;
	margin-left:20px;
	margin-bottom:20px;
}
img.k{
	height:250px;
	width:250px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
}
