@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Poppins:wght@300;400;700&family=Raleway:wght@400;700&display=swap');
:root {
    --yellow: #F1BC59;
    --yellowHover: #c5902f;
    --white: #ffffff;
    --black: #1E1E1E;
    --grey: #747474;
    --font1: 'Oswald', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Raleway', sans-serif;;
}
html,body{
	min-height: 100%;
}
body{
	background-color:#fffff8;
	font-family:var(--font3);
}
.container1{
	float:left;
	margin-left:20px;
	display:inline-block;
}
.container1 img{
	width:60px;
	height:60px;
}
.container1 td{
	border-radius:30px;
	background-color:#e9b656;
	padding:5px;
	margin-bottom:8px;
	font-size:12px;
}
.container1 table{
	border-collapse:separate;
	border-spacing: 5px 8px;
}
.container1 td:hover{
	transition:0.8s;
	transform:scale(0.9);
	border:2px solid;
}
a{
	color:black;
	text-decoration:none;
}
.logo{
	height:120px;
	width:120px;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
}
h2{
	display:inline;
	font-family: var(--font1);
}
.navigate{
	display:inline;
	margin-left:850px;
}
.arrow:hover{
	transition:0.5s;
	transform:scale(1.10);
}
.arrow{
	height:40px;
	width:40px;
	padding-top:20px;
}
h1{
	text-align:center;
	font-family:var(--font2);
}
.ratings{
	width:150px;
	height:130px;
	margin-left:20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-spacing: 20px 5px 20px 5px;
	margin-left: 240px;
	border-radius:5px;
	background-color:white;
	display:inline-block;
	padding-bottom:5px;
	text-align:center;
}
.flex-container{
	display: flex;
}
.ratings:hover{
	background-color:#747474;
	color:white;
}
.time{
	width:150px;
	height:130px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-spacing: 20px 5px 20px 5px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius:5px;
	background-color:white;
	display:inline-block;
	padding-bottom:5px;
	text-align:center;
}
.time:hover{
	background-color:#747474;
	color:white;
}
.ingredients{
	text-align:center;
	width:150px;
	height:130px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-spacing: 20px 5px 20px 5px;
	border-radius:5px;
	background-color:white;
	display:inline-block;
	padding-bottom:5px;
}
.ingredients:hover{
	background-color:#747474;
	color:white;
}
.descrip{
	margin-left:150px;
	margin-right:110px;
	font-size:18px;
	text-align:justify;
	line-height:40px;
}
.a, .b, .c{
	font-size:18px;
	text-align:justify;
	line-height:40px;
	margin-left:150px;
	margin-right:200px;
}
.nutrition td{
	border:2px solid #b49987;
	text-align:center;
	padding:20px;
	font-size:15px;
}
nutritionValue{
	display:inline-block;
}
.nutrition{
	border-collapse:collapse;
	float:right;
	width:100%
}
.nutrition td{
	background-color:#fef1b8;
}
.images img{
	border-radius:8px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.nv{
	margin-left:150px;
}
.table3{
	margin-left:20px;
	margin-top:10px;
	box-shadow: 0 0 50px #ccc;
	border-collapse:separate;
	border-spacing: 80px 0px;
	text-align:center;
	height:350px;
	width:200px;
	padding:20px;
}
.table4{
	margin-left:20px;
	margin-top:10px;
	box-shadow: 0 0 50px #ccc;
	border-collapse:separate;
	height:350px;
	width:200px;
	border-spacing: 80px 0px;
	text-align:center;
	padding:20px;
}
.table5{
	margin-left:20px;
	margin-top:10px;
	box-shadow: 0 0 50px #ccc;
	border-spacing: 80px 0px;
	height:350px;
	width:200px;
	text-align:center;
	padding:20px;
}
#gotop:hover{
	transition:0.5s;
	transform:scale(1.10);
}
h3{
	color:#b49987;
	font-family:var(--font2);
}
h5{
	background-color:#F0F5CE;
}
.flex-container-one{
	display: flex;
	justify-content: center;
}
