html,body{
	min-height: 100%;
}
body{
	background-color:#fffff8;
	font-family:Arial;
}
.logo{
	height:120px;
	width:120px;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
}
.logo:hover{
	transition:0.5s;
	transform: scale(1.10);
}
h2{
	display:inline;
}
.navigate{
	display:inline;
	margin-left:850px;
  
}
.arrow:hover{
	transition:0.5s;
	transform:scale(1.10);
}
.arrow{
	height:40px;
	width:40px;
	padding-top:20px;
}
h1{
	margin-left:200px;
}
.ratings{
	width:150px;
	height:130px;
	margin-left:20px;
	margin-top:10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-spacing: 20px 5px 20px 5px;
	margin-left: 240px;
	border-radius:5px;
	background-color:white;
	display:inline-block;
	padding-bottom:5px;
	text-align:center;
}
.ratings:hover{
	background-color:#b49987;
	color:white;
}
.time{
	width:150px;
	height:130px;
	border-collapse:separate;
	margin-top:10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-spacing: 20px 5px 20px 5px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius:5px;
	background-color:white;
	display:inline-block;
	padding-bottom:5px;
	text-align:center;
}
.time:hover{
	background-color:#b49987;
	color:white;
}
.ingredients{
	text-align:center;
	width:150px;
	height:130px;
	margin-top:10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-spacing: 20px 5px 20px 5px;
	border-radius:5px;
	background-color:white;
	display:inline-block;
	padding-bottom:5px;
}
.ingredients:hover{
	background-color:#b49987;
	color:white;
}
.descrip{
	margin-left:150px;
	margin-right:370px;
	font-size:20px;
	text-align:justify;
	line-height:40px;
}
.a, .b{
	font-size:20px;
	text-align:justify;
	line-height:40px;
	margin-left:150px;
	margin-right:200px;
}
.nutrition td{
	border:2px solid #b49987;
	text-align:center;
	padding:30px;
}
.images{
	float:right;
	margin-right:50px;
	margin-left:40px;
}
.images img{
	border-radius:30px;
}
.images img:hover{
	transform: scale(1.05);
	transition:0.8s;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.table3{
	margin-left:20px;
	margin-top:10px;
	box-shadow: 0 0 50px #ccc;
	border-collapse:separate;
	border-spacing: 80px 0px;
	margin-left: auto;
	margin-right: auto;
}
.table3 th{
	text-align:center;
	padding:20px;
}
.table3 td{
	text-align:center;
	padding:5px;
}
.table4{
  margin-left:20px;
  margin-top:10px;
  box-shadow: 0 0 50px #ccc;
  border-collapse:separate;
  border-spacing: 80px 0px;
  margin-left: auto;
  margin-right: auto;
}
.table5{
  margin-left:20px;
  margin-top:10px;
  box-shadow: 0 0 50px #ccc;
  border-collapse:separate;
  border-spacing: 80px 0px;
  margin-left: auto;
  margin-right: auto;
}
.table4 th{
  text-align:center;
  padding:20px;
}
.table4 td{
  text-align:center;
  padding:5px;
}
.table5 th{
  text-align:center;
  padding:20px;
}
.table5 td{
  text-align:center;
  padding:5px;
}
